@use "../abstracts" as *;

.container {
  margin: 0 auto;
  max-width: rem(350);

  @include breakpoint-up("tiny") {
    max-width: rem(580);
  }

  @include breakpoint-up("very-small") {
    max-width: rem(730);
  }
}
