@use "../abstracts" as *;

.theme-switcher {
  position: relative;
}

.theme-switcher__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.theme-switcher__text {
  display: flex;
  align-items: center;
  gap: rem(16);
  cursor: pointer;
  font-weight: 700;
  font-size: rem(13);
  letter-spacing: rem(2.5);
  text-transform: uppercase;

  @include prefers-motion {
    transition: color var(--primary-transition);
  }
}

.theme-switcher__checkbox:hover + .theme-switcher__text,
.theme-switcher__checkbox:active + .theme-switcher__text {
  color: var(--theme-switcher-text-hover-color);
}

.theme-switcher__checkbox:focus + .theme-switcher__text,
.theme-switcher__checkbox:focus-visible + .theme-switcher__text {
  outline: rem(2) dashed var(--focus-visible-outline-color);
  outline-offset: rem(-2);
}
